.content {
  display: flex;
  justify-content: center;
  align-content: flex-start;

  width: 100%;


  margin: 0;
  padding: 0;
  padding-top: 3rem;
  padding-bottom: 5rem;

  font-family: @font_base;

  background-color: @white;
}


.content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


  width: 23.5rem;

  margin: 0;
  padding: 0;
}

.content__txt-wrapper {
  margin: 0;
  padding: 0;
}


.content__h2 {
  margin: 0;
  padding: 0;

  font-size: 2.1em;
  line-height: 1.5em;
  font-weight: bold;
  color: @black;
}

.content__h2-txt {
  margin: 0;
  margin-bottom: 2.5rem;
  padding: 0;

  font-size: 1.5em;
  line-height: 1em;
}

.content__txt {
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;

  font-size: 1.4em;

}

.content__txt span {
  font-weight: 600;
}







@media screen and (min-width: 700px) {


  .content__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;


    width: 70rem;

    margin: 0 auto;
    padding-top: 5rem;
    box-sizing: border-box;
  }


  .content__txt-wrapper--width {
    width: 45%;
  }


  .content__h2 {
    font-size: 4.5rem;
  }




}








@media screen and (min-width: 1020px) {

  .content__wrapper {
    width: 100rem;

  }













}