.services {
  display: flex;
  justify-content: center;
  align-content: flex-start;

  width: 100%;

  margin: 0;
  padding: 0;
}

.services__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0;

  font-family: @font_base;
}


.services__details {
  display: flex;
  justify-content: center;

  width: 100%;

  margin: 0;
  padding: 0;
}

.services__header {
  position: relative;
  display: flex;
  align-items: center;

  width: 27.2rem;
  height: 4.8rem;

  margin: 0 auto;
  padding: 0;
  padding-left: 1.8rem;
  box-sizing: border-box;

  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #8977AA;

  border: 1px solid @dark;
  background-color: @white;

  cursor: pointer;
  user-select: none;
}

.services__header::-webkit-details-marker {
  display: none;
}

.services__details > .services__header {
  list-style: none;
}

.services__header::before {
  position: absolute;
  content: "";
  top: calc(50% - 0.4rem);
  right: 2rem;

  width: 1.9rem;
  height: 1rem;

  background-color: @dark;
  mask-image: url("/img/arrow_item.svg");
  background-repeat: no-repeat;

  transition-duration: 0.3s;
}

.services__details[open] .services__header {
  color: @white;
  background-color: @dark;
}

.services__details[open] .services__header::before {
  transform: rotate(180deg);
  transition-duration: 0.3s;
  background-color: @white;
  mask-image: url("/img/arrow_item.svg");
}


.services__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  min-height: 5rem;

  margin-top: -2.4rem;
  padding: 0;

  background-color: @light;
}

.services__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


  width: 100%;

  margin: 0;
  margin-bottom: 8rem;
  padding: 0;
}

.services__item-img-block {
  width: 100%;
  height: 30rem;

  margin: 0;
  margin-right: auto;
  padding: 0;
}

.services__item-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.services__type {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;

  width: 27.5rem;
  min-height: 8rem;

  margin: 0 auto;
  margin-top: -2.7rem;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;

  text-align: left;
  background-color: @white;
  border: 1px solid @base;
}

.services__head {
  width: 100%;

  margin: 0;
  margin-bottom: 0.6rem;
  padding: 0;

  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: @black;

  text-transform: uppercase;
}

.services__head--mb {
  margin-bottom: 1.5rem;
}

.services__func {
  width: 100%;

  margin: 0;
  margin-bottom: 2rem;
  padding: 0;

  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: @black;
}

.services__work,
.services__price {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.services__work span {
  font-weight: 300;
}

.services__price span {
  font-weight: 300;
}


.services__desktop {
  display: none;
}






@media screen and (min-width: 700px) {

  .services {
    padding-top: 8rem;
    padding-bottom: 2rem;
    background-color: @light;
  }

  .services__wrapper {
    width: 70rem;
    margin-bottom: 0;
  }


  .services__details {
    display: none;
  }


  .services__desktop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;

    margin: 0;
    padding: 0;
  }


  .services__header {
    justify-content: center;
    width: 27rem;
    height: 4.2rem;

    margin: 0;
    margin-bottom: 4rem;
    padding: 0;
  }

  .services__header::before {
    width: 0;
    height: 0;

    mask-image: none;
  }



  .services__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 100%;

    margin-top: 0;
    padding: 0;

    background-color: transparent;
  }


  .services__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


    width: 30%;

    margin: 0;
    margin-bottom: 6rem;
    padding: 0;
  }



  .services__item-img-block {
    height: 24rem;
  }



  .services__type {
    width: 20rem;
    min-height: 15rem;
  }

  .services__type--mt {
    margin-top: 0;
  }



  .services__head {
    font-size: 1.6rem;
  }

  .services__func {
    font-size: 1.4rem;
  }











}
















@media screen and (min-width: 1020px) {

  .services__wrapper {
    width: 100rem;
  }


  .services__header {
    width: 27rem;
    height: 4.5rem;
  }


  .services__list {
    width: 100%;
  }


  .services__item {
    width: 30%;
  }



  .services__item-img-block {
    height: 38rem;
  }



  .services__type {
    width: 25rem;
    min-height: 6rem;
  }



  .services__name {
    font-size: 1.9rem;
  }

  .services__func {
    font-size: 1.6rem;
  }











}